*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
}
.nav-logo{
    height: 50px;
    width: 113px;
}
.logo{
    height: 50px;
    width: 113px;
    background-image: url(amazon_logo.png);
    background-size: cover; 
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
.add-icon{
    display: flex;
}

.add-first{
    font-size: 12px;
    color: #CCCCCC;
    margin-left: 15px;
}
.add-sec{
    font-size: 14px;
    color: #FFFFFF;
    align-items: center;
    margin-left: 3px;
    
}

